<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %><br>
  <strong>Route:</strong>
  <%= @train.route&.name || 'Route not assigned' %>
  <br>

  <strong>Carriages:</strong>
  <% if @train.carriages.empty? %>
    None
  <% else %>
    <ul>
      <% @train.carriages.each do |carriage| %>
        <li>
          <%= link_to "Number: #{carriage.number}", carriage_path(carriage) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
