<p id="notice"><%= notice %></p>

<p>
  <strong>Train:</strong>
  <%= @carriage.train&.number || 'Train not assigned' %>
  <br>
  <strong>Type:</strong>
  <%= @carriage.type.titleize %>
  <br>
  <strong>Number:</strong>
  <%= @carriage.number %>
  <br>
  <strong>Seats: </strong>
  <ul>
    <% @carriage.seats.each do |seat| %>
      <li>
        <%= "#{seat.to_s.titleize} #{@carriage.send(seat)} "  %>
      </li>
    <% end %>
  </ul>

</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>
