<%= form_for([:admin, @train, @carriage.becomes(Carriage)]) do |form| %>
  <%= render 'common/errors', resource: @carriage %>
  <div class="types-inputs">
    <div class="field">
      <%= form.label :top_seats %>
      <%= form.number_field :top_seats, class: 'coupe_carriage econom_carriage' %>
    </div>
    <div class="field">
      <%= form.label :low_seats %>
      <%= form.number_field :low_seats, class: 'coupe_carriage econom_carriage sleeping_carriage' %>
    </div>
    <div class="field">
      <%= form.label :side_top_seats %>
      <%= form.number_field :side_top_seats, class: 'econom_carriage' %>
    </div>
    <div class="field">
      <%= form.label :side_low_seats %>
      <%= form.number_field :low_seats, class: 'econom_carriage' %>
    </div>
    <div class="field">
      <%= form.label :sedentary_seats %>
      <%= form.number_field :low_seats, class: 'sedentary_carriage' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :type %>
    <%= form.select(:type, Carriage.allowed_types) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
